In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier

In [12]:
df = pd.read_csv('Music.csv')

In [ ]:
df.head()

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     18 non-null     int64
 1   gender  18 non-null     int64
 2   genre   18 non-null     object
dtypes: int64(2), object(1)
memory usage: 560.0+ bytes

In [14]:
df.shape

(18, 3)

In [15]:
df.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [16]:
df.values

array([[20, 1, 'HipHop'],
       [23, 1, 'HipHop'],
       [25, 1, 'HipHop'],
       [26, 1, 'Jazz'],
       [29, 1, 'Jazz'],
       [30, 1, 'Jazz'],
       [31, 1, 'Classic'],
       [33, 1, 'Classic'],
       [37, 1, 'Classic'],
       [20, 0, 'Dance'],
       [21, 0, 'Dance'],
       [25, 0, 'Dance'],
       [26, 0, 'Acoustic'],
       [27, 0, 'Acoustic'],
       [30, 0, 'Acoustic'],
       [31, 0, 'Classic'],
       [34, 0, 'Classic'],
       [35, 0, 'Classic']], dtype=object)

In [17]:
df

    age  gender     genre
0    20       1    HipHop
1    23       1    HipHop
2    25       1    HipHop
3    26       1      Jazz
4    29       1      Jazz
5    30       1      Jazz
6    31       1   Classic
7    33       1   Classic
8    37       1   Classic
9    20       0     Dance
10   21       0     Dance
11   25       0     Dance
12   26       0  Acoustic
13   27       0  Acoustic
14   30       0  Acoustic
15   31       0   Classic
16   34       0   Classic
17   35       0   Classic

In [18]:
df.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [19]:
X = df.drop(columns=['genre'])

In [20]:
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [22]:
y = df['genre']

In [23]:
 y

0       HipHop
1       HipHop
2       HipHop
3         Jazz
4         Jazz
5         Jazz
6      Classic
7      Classic
8      Classic
9        Dance
10       Dance
11       Dance
12    Acoustic
13    Acoustic
14    Acoustic
15     Classic
16     Classic
17     Classic
Name: genre, dtype: object

In [26]:
model = DecisionTreeClassifier()
model.fit(X, y)
df

    age  gender     genre
0    20       1    HipHop
1    23       1    HipHop
2    25       1    HipHop
3    26       1      Jazz
4    29       1      Jazz
5    30       1      Jazz
6    31       1   Classic
7    33       1   Classic
8    37       1   Classic
9    20       0     Dance
10   21       0     Dance
11   25       0     Dance
12   26       0  Acoustic
13   27       0  Acoustic
14   30       0  Acoustic
15   31       0   Classic
16   34       0   Classic
17   35       0   Classic